<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강좌 상세 페이지</title>
    <style>
        span.price {
            text-decoration: line-through;
        }

        .notice_table {
            width: 100%;
            border-collapse: collapse;
        }
        .notice_table th, .notice_table td {
            border:solid 1px #000;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>

    </script>
</head>
<body>
    <h1>공지 사항 정보 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <table class="notice_table">
        <tr>
            <td>
                <h3>공지사항</h3>
            </td>
            <td>
                <span th:text="${detail.title}">공지사항 제목</span>
            </td>
        </tr>
        <tr>
            <td>
                <h3>작성자 </h3>
            </td>
            <td>
                <span th:text="${detail.writer}">김아무개</span>
            </td>
        </tr>

        <tr>
            <td>
                <h3>공지 내용</h3>
            </td>
            <td>
                <div th:utext="${detail.contents}">
                </div>
            </td>
        </tr>

    </table>
    <div>


        <div>
                <a href="/notice">공지 목록으로</a>
        </div>

    </div>


</body>
</html>
